$color-primary: #002855;
$color-primary-light: #094e9c;
$color-primary-dark: #043266;

$color-secondary: #c99700;
$color-secondary-light: #e6b010;
$color-secondary-dark: #b18500;

$color-tertiary: #ca382b;
$color-tertiary-light: #db6257;
$color-tertiary-dark: #a82f24;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #eee;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #666;
$color-grey-dark-2: #333;

// Fonts
$default-font-size: 1.6rem;

// Sizes 
$vp-width:136.6rem;