.header {
  width: 100%;
  height: 76.8rem;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-dark, 0.7),
    rgba($color-primary-light, 0.7)
  ),
  url("../img/others/hero.jpg");
  background-size: cover;
  background-position: center;


  &__text-box {
    width:50%;
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
  }

  @include respond(700px) {
      background-position: left;

      &__text-box {
        width:90%;
      }
  }
}
