.header {
    width: 100%;
    height: 100vh;
    background-color: lightyellow;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: lightpink;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: lightgreen;
}